<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <$= __( 'page-title-tone') $>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Tone Analyzer">
  <meta name="og:description" content="This service uses linguistic analysis to detect joy, fear, sadness, anger, analytical, confident and tentative tones found in text.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/extra.css">
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/watson/developercloud/">
        <span class="wordmark--left"><$= __('header-ibm') $></span>
        <span class="wordmark--right"><$= __('header-wdc') $></span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/watson/developercloud/services-catalog.html" role="menuitem">
            <$= __( 'header-services') $>
          </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/watson/developercloud/doc/index.html" role="menuitem">
            <$= __( 'header-docs') $>
          </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/watson/developercloud/starter-kits.html" role="menuitem">
            <$= __( 'header-starterKit') $>
          </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
            <$= __( 'header-community') $>
          </a>
        </li>
      </nav>
    </div>
  </header>
  <div class="_demo--banner banner">
    <div class="_demo--container">
      <div class="banner--service-container">
        <div class="banner--service-icon-container">
          <img class="banner--service-icon" src="images/service-icon.svg" alt="Tone Analyzer API Icon">
        </div>
        <div class="banner--service-info">
          <h1 class="banner--service-title base--h1">
                        <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Tone Analyzer API Icon">
                             <$=__('page-title-tone')$>
                    </h1>
          <div class="banner--service-description">
            <$= __( 'header-description') $>
          </div>
        </div>
      </div>
      <div class="banner--service-resource-container">
        <div class="banner--row">
          <div class="banner--service-resource">
            <span class="icon icon-link"></span>
            <strong><$= __('header-resources') $>:</strong>
          </div>
        </div>
        <div class="banner--row">
          <div class="banner--service-links">
            <li class="base--li banner--service-link-item">
              <a href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/index.html" target="blank" class="base--a">
                <$= __( 'header-documentation') $>
              </a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://www.ibm.com/watson/developercloud/tone-analyzer/api/v3/" target="blank" class="base--a">
                <$= __( 'header-apiref') $>
              </a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://github.com/watson-developer-cloud/tone-analyzer-nodejs" target="blank" class="base--a">
                <$= __( 'header-fork') $>
              </a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://console.bluemix.net/registration?target=%2Fdeveloper%2Fwatson%2Fcreate-project%3Fservices%3Dtone_analyzer%26hideTours%3Dtrue&cm_mmc%3DOSocial_Tumblr-_-Watson%2BCore_Watson%2BCore%2B-%2BPlatform-_-WW_WW-_-wdc-ref%26cm_mmc%3DOSocial_Tumblr-_-Watson%2BCore_Watson%2BCore%2B-%2BPlatform-_-WW_WW-_-wdc-ref%26cm_mmca1%3D000000OF%26cm_mmca2%3D10000409"
                target="blank" class="base--button base--button_fill">
                <$= __( 'header-bluemix') $>
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- demo body -->
  <div class="_demo--container">
    <article class="_content base--article">
      <div class="input">
        <h2 class="base--h2"><$= __('header-sample-use-cases') $></h2>
        <p class="base--p input--description">
          <$= __( 'input-description') $>
            <a class="base--a" href="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/index.shtml#usecases" target="new">
              <$= __( 'header-learn-more') $>
            </a>.</p>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-tweets" name="rb" value="tweets" checked="true">
        <label class="base--inline-label input--radio-label" for="input-tweets"><$= __('radio-input-tweets') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-online-review" name="rb" value="review">
        <label class="base--inline-label input--radio-label" for="input-online-review"><$= __('radio-input-review') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-email" name="rb" value="email">
        <label class="base--inline-label input--radio-label" for="input-email"><$= __('radio-input-email') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-lang-fr" name="rb" value="review-fr">
        <label class="base--inline-label input--radio-label" for="input-lang-fr"><$= __('radio-input-lang-fr') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-own-text" name="rb" value="own-text">
        <label class="base--inline-label input--radio-label" for="input-own-text"><$= __('radio-input-own-text') $></label>
        <p class="base--p input--description">
          <$= __( 'input-description-customer-engagement') $>
            <a class="base--a" href="http://customer-engagement-demo.mybluemix.net" target="new">
              <$= __( 'input-description-customer-engagement-endpoint') $>
            </a>.</p>
        <hr class="base--hr input--hr">
        <div class="panel">
          <textarea class="base--textarea input--textarea" rows="7"></textarea>
          <div class="input--choose own-text-language-selector-radio original-text--tooltip-container_hidden">
            <b><$= __('label-choose-lang') $>: </b>
            <input role="radio" class="base--radio input--radio--lang" type="radio" id="input-own-text-en" name="rb-lang" value="en" checked="true">
            <label class="base--inline-label input--radio-label" for="input-own-text-en"><$= __('radio-lang-en') $></label>
            <input role="radio" class="base--radio input--radio--lang" type="radio" id="input-own-text-fr" name="rb-lang" value="fr">
            <label class="base--inline-label input--radio-label" for="input-own-text-fr"><$= __('radio-lang-fr') $></label>
          </div>
        </div>
        <div class="input--submit-button-container">
          <button class="base--button input--submit-button" type="submit"><$= __('button-analyze') $></button>
        </div>
      </div>

      <div class="loading">
        <div class="loading--loader">
          <img src="images/loading-indicator.gif">
        </div>
      </div>

      <div class="error">
        <div class="error--message"></div>
      </div>

      <div class="output">
        <h2 class="base--h2"><$= __('header-output') $></h2>
        <p class="base--p output--document-description">
          <$= __( 'output-description') $>
        </p>
        <p class="base--p output--document-description">
          <$= __( 'output-description-interpret') $>
            <a class="base--a" target="_blank" href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml">
              <$= __( 'output-description-understand-score') $>
            </a>.</p>
        <h3 class="base--h3 output--document-title"><$= __('header-document') $></h3>

        <div class="summary--row">
          <div class="summary--emotion">
            <h5 class="base--h5 summary--header"><$= __('header-tones') $></h5>
            <div class="document--warning"></div>
            <div class="summary-emotion-graph bar-graph"></div>
          </div>
        </div>
        <!--
        <div class="summary--row">
          <div class="summary--emotion-description">
            <p class="base--p">The Emotion graph represents the likelihood that an emotion tone is present in the text. <a class="base--a" target="_blank" href="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml#emotional">Learn more</a>.</p>
          </div>
          <div class="summary--writing-and-social-description">
            <p class="base--p">The Language Style and Social Tendencies graphs represent the amount of a language or social tone present in the text. <a class="base--a" target="_blank" href="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml#social">Learn more</a>.</p>
          </div>
        </div>
        <p class="base--p output--document-description">For details on how Tone Analyzer detects tone in text see, <a class="base--a" target="_blank" href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml">The Science Behind the Tone Analyzer Service</a>.</p>
        <div class="summary--row">

          <div class="results-table--feedback-inputs dcl">
            <label><em class="base--em">Do you agree with this result?</em></label>
            <input type="radio" checked="false" role="radio" id="class-yes" name="document-level" value="no" class="base--radio results-table--input-yes">
            <label for="class-yes" class="base--inline-label vote results-table--input-yes-label">Yes</label>
            <input type="radio" checked="false" role="radio" id="class-no" name="document-level" value="no" class="base--radio results-table--input-no">
            <label for="class-no" class="base--inline-label vote results-table--input-no-label">No</label>
          </div>
          <div class="document-level-thankyou" style="text-align:center">
            <span class="results-table--feedback-thanks">
                        <em class="base--em">Thank You</em>
                      </span>
          </div>

        </div>
-->
        <div class="summary-row">
          <span class="icon-hyperlink summary-view-code-button">
  					<img class="icon icon-code" src="images/icons/code.svg" />
  					<button class="base--a icon-hyperlink--button_BLANK js-toggle-summary-json" href="">
  						<span class="js-toggle-summary-json_show"><$= __('summary-view-json') $></span>
          <span class="js-toggle-summary-json_hide"><$= __('summary-hide-json') $></span>
          </button>
          </span>
        </div>
        <div class="summary-json js-summary-json">
          <pre class="base--pre json--pre language-javascript">
            <code class="base--code json--code language-javascript"></code>
          </pre>
        </div>
        <h3 class="base--h3 output--sentence-title" style="padding-left: 0rem;"><$= __('header-sentence') $></h3>
        <p class="base--p output--sentence-description">
          <$= __( 'output-sentence-description') $>
        </p>
        <div class="sentences">
          <div class="sentences--filters filters">
            <h3 class="base--h3" style="padding-left: 0rem;"><$= __('header-tones') $></h3>
            <div class="filters--emotion"></div>
          </div>
          <div class="sentences--sentence-views sentence-views">
            <div class="tab-panels sentence-views--tab-panels" role="tabpanel">
              <ul class="tab-panels--tab-list" role="tablist">
                <li class="tab-panels--tab-list-item base--li" role="presentation">
                  <a class="tab-panels--tab base--a active" href="#panel-original-text" aria-controls="panel-original-text" role="tab">
                    <$= __( 'label-in-context') $>
                  </a>
                </li>
                <!--
                <li class="tab-panels--tab-list-item base--li" role="presentation">
                  <a class="tab-panels--tab base--a" href="#panel-sentence-rank" aria-controls="panel-sentence-rank" role="tab">Ranked by score</a>
                </li>
                <li class="tab-panels--tab-list-item base--li" role="presentation">
                  <a class="tab-panels--tab base--a" href="#panel-json" aria-controls="panel-json" role="tab">JSON</a>
                </li>
-->
              </ul>
              <div class="sentence-views--tab-content tab-panels--tab-content">
                <div id="panel-original-text" class="sentence-views--tab-pane tab-panels--tab-pane active" role="tab-panel">
                  <div class="original-text">
                    <div class="original-text--description"></div>
                    <div class="original-text--legend"></div>
                    <div class="original-text--texts-container">
                      <div class="original-text--texts"></div>
                    </div>
                  </div>
                </div>
                <div id="panel-sentence-rank" class="sentence-views--tab-pane tab-panels--tab-pane" role="tab-panel">
                  <div class="sentence-rank">
                    <div class="sentence-rank--legend">
                      <input role="checkbox" class="base--checkbox sentence-rank--checkbox" type="checkbox" id="sort-sentences" name="cb" value="">
                      <label class="base--inline-label sentence-rank--sort" for="sort-sentences">
                        <span class="sentence-rank--sort-ascending">Ascending<i class="icon icon-down-arrow"></i></span>
                        <span class="sentence-rank--sort-descending">Descending<i class="icon icon-down-arrow icon_flipped"></i></span>
                      </label>
                    </div>
                    <div class="sentence-rank--table-container">
                      <table class="base--table sentence-rank--table">
                      </table>
                    </div>
                    <div class="sentence-rank--small-block">
                      <small class="base--small">
                        In sentences_tone, each sentence_id receives a raw_score for each tone in a category.  Understand how to normalize raw scores or customize thresholds for your use case in the <a class="base--a" href="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/">Documentation</a>.
                      </small>
                    </div>
                  </div>
                </div>
                <div id="panel-json" class="sentence-views--tab-pane tab-panels--tab-pane" role="tab-panel">
                  <div class="json">
                    <pre class="base--pre json--pre language-javascript">
                      <code class="base--code json--code language-javascript"></code>
                    </pre>
                  </div>
                </div>
              </div>
              <!-- .tab-panels--tab-content -->
            </div>
            <!-- .tab-panels -->
          </div>
          <!-- .sentences--sentence-views -->

        </div>

        <div class="summary-row">
          <span class="icon-hyperlink sentence-summary-view-code-button">
  					<img class="icon icon-code" src="images/icons/code.svg" />
  					<button class="base--a icon-hyperlink--button_BLANK js-toggle-sentence-summary-json" href="">
  						<span class="js-toggle-sentence-summary-json_show"><$= __('summary-view-json') $></span>
          <span class="js-toggle-sentence-summary-json_hide"><$= __('summary-hide-json') $></span>
          </button>
          </span>
        </div>

        <div class="summary-json js-sentence-summary-json">
          <pre class="base--pre json--pre language-javascript">
            <code class="base--code json--code language-javascript"></code>
          </pre>
        </div>
        <!--
        <div class="summary--row">
          <div class="results-table--feedback-inputs scl">
            <label><em class="base--em">Do you agree with this result? </em></label>
            <input type="radio" role="radio" checked="false" id="class-yes-sentance" name="sentence-level" value="yes" class="base--radio results-table--input-yes">
            <label for="class-yes-sentance" class="base--inline-label vote results-table--input-yes-label">Yes</label>
            <input type="radio" role="radio" checked="false" id="class-no-sentance" name="sentence-level" value="no" class="base--radio results-table--input-no">
            <label for="class-no-sentance" class="base--inline-label vote results-table--input-no-label">No</label>
          </div>
          <div class="sentence-level-thankyou" style="text-align:center">
            <span class="results-table--feedback-thanks">
             <em class="base--em">Thank You</em>
            </span>
          </div>
        </div>
-->
        <!-- .sentences -->
        <div class="output--reset icon-hyperlink">
          <span class="icon icon-reset"></span>
          <button class="base--a output--reset-button icon-hyperlink--button icon-hyperlink--button_BLANK" href="" type="reset">
            <$= __('button-reset') $>
          </button>
        </div>
        <div class="original-text--tooltip-container original-text--tooltip-container_hidden"></div>
      </div>
    </article>
  </div>
  <div class="_demo--banner bottom-banner ">

    <div class="footer-banner">
      <div class="_demo--container footer-container">
        <div class="footer-title">
          <$= __( 'footer-title') $>
        </div>

        <div class="footer-tagline">
          <$= __( 'footer-tagline') $>
        </div>

        <a class="base--a bottom-links" href="https://www.ibm.com/watson/developercloud/tone-analyzer/api/v3/" target="_blank"><$= __( 'header-apiref') $></a>
        <a class="base--a bottom-links" href="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/index.shtml" target="_blank"><$= __( 'header-documentation') $></a>
        <a class="base--a bottom-links" href="https://github.com/watson-developer-cloud/tone-analyzer-nodejs" target="_blank"><$= __( 'header-fork') $></a>
      </div>
    </div>
  </div>

  <script type="text/html" id="emotionBarGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (item.label == 'No Tone') { %>
        <$=__( 'document-no-tone')$>
        <br>
      <% } else { %>
        <div class="bar-graph--row summary-emotion-graph--row <%- item.visible %>">
          <div class="bar-graph--label-container summary-emotion-graph--label-container">
            <div class="bar-graph--label">
              <p class="base--p">
                <% if (item.label == 'Anger') { %>
                  <$=__( 'document-tone-anger')$>
                <% } else if (item.label == 'Fear') { %>
                  <$=__( 'document-tone-fear')$>
                <% } else if (item.label == 'Joy') { %>
                  <$=__( 'document-tone-joy')$>
                <% } else if (item.label == 'Sadness') { %>
                  <$=__( 'document-tone-sadness')$>
                <% } else if (item.label == 'Analytical') { %>
                  <$=__( 'document-tone-analytical')$>
                <% } else if (item.label == 'Confident') { %>
                  <$=__( 'document-tone-confident')$>
                <% } else if (item.label == 'Tentative') { %>
                  <$=__( 'document-tone-tentative')$>
                <% } else { %>
                  <%- item.label %>
                <% } %>
              </p>
              <% if (item.tooltip) { %>
                <div class="bar-graph--tooltip">
                  <% if (item.label == 'Anger') { %>
                    <$=__( 'hover-anger')$>
                  <% } else if (item.label == 'Fear') { %>
                    <$=__( 'hover-fear')$>
                  <% } else if (item.label == 'Joy') { %>
                    <$=__( 'hover-joy')$>
                  <% } else if (item.label == 'Sadness') { %>
                    <$=__( 'hover-sadness')$>
                  <% } else if (item.label == 'Analytical') { %>
                    <$=__( 'hover-analytical')$>
                  <% } else if (item.label == 'Confident') { %>
                    <$=__( 'hover-confident')$>
                  <% } else if (item.label == 'Tentative') { %>
                    <$=__( 'hover-tentative')$>
                  <% } else { %>
                    <%- item.tooltip %>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
          <div class="checkmark">
            <% if (item.score > 0) { %>
              <div class="checkmark_circle_<%- item.label.replace(/\s+/g, '-') %>"></div>
              <div class="checkmark_stem"></div>
              <div class="checkmark_kick"></div>
              <div class="score--tooltip">
                <%- (item.score / 100).toFixed(2) %>
              </div>
            <% } else { %>
              <div class="checkmark_circle_No-Tone %>"></div>
              <div class="checkmark_cross_stem"></div>
              <div class="checkmark_cross_kick"></div>
            <% } %>
          </div>
        </div>
      <% } %>
    <% }); %>
  </script>

  <script type="text/html" id="barGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="bar-graph--row <%- item.visible %>">
        <div class="bar-graph--label-container summary-<%- className %>-graph--label-container">
          <div class="bar-graph--label">
            <p class="base--p">
              <%- item.label %>
            </p>
            <% if (item.tooltip) { %>
              <div class="bar-graph--tooltip">
                <%- item.tooltip %>
              </div>
            <% } %>
          </div>
        </div>
        <div class="bar-graph--bar-container summary-<%- className %>-graph--bar-container">
          <div class="bar-graph--bar">
            <div class="bar-graph--bar-value summary-<%- className %>-graph--bar-value summary-<%- className %>-graph--bar-value_<%- item.label.replace(/\s+/g, '-') %>" style="width: <%- item.score %>%;"></div>
          </div>
        </div>
        <div class="summary-<%= className %>-graph--percentage-label bar-graph--percentage-label">
          <%= (item.score / 100).toFixed(2) %>
            <br>
            <span class="summary-<%= className %>-graph--percentage-label-likeliness">
            <%= item.likeliness %>
          </span>
        </div>
      </div>
    <% }); %>
  </script>

  <script type="text/html" id="verticalBarGraphTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="summary-<%= className %>-graph--column">
        <div class="summary-<%= className %>-graph--bar">
          <div class="summary-<%= className %>-graph--bar-value" style="height: <%= item.score %>%;"></div>
          <div class="summary-<%= className %>-graph--bar-tooltip summary-<%= className %>-graph--bar-tooltip_<%= item.label.replace(/\s+/g, '-') %> bar-graph--bar-tooltip" style="margin-bottom: <%= item.score %>%;">
            <%= (item.score / 100).toFixed(2) %>
            <br>
            <span class="summary-emotion-graph--percentage-label-likeliness">
              <%= item.likeliness %>
            </span>
          </div>
        </div>
        <div class="summary-<%- className %>-graph--label">
          <%- item.label %>
        </div>
      </div>
    <% }); %>
  </script>

  <script type="text/html" id="filtersTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (item.label == 'No Tone') { %>
        <$=__( 'sentences-no-tone')$>
      <% } else { %>
        <input class="filters--radio base--radio" type="radio" id="filter-<%- item.label.replace(/\s+/g, '-') %>" data-id="<%- item.label %>" name="tone-filters" value="<%- item.label.replace(/\s+/g, '-') %>">
        <label class="filters--label base--block-label" for="filter-<%- item.label.replace(/\s+/g, '-') %>">
          <% if (item.label == 'Anger') { %>
            <$=__('document-tone-anger')$>
          <% } else if (item.label == 'Fear') { %>
            <$=__('document-tone-fear')$>
          <% } else if (item.label == 'Joy') { %>
            <$=__('document-tone-joy')$>
          <% } else if (item.label == 'Sadness') { %>
            <$=__('document-tone-sadness')$>
          <% } else if (item.label == 'Analytical') { %>
            <$=__('document-tone-analytical')$>
          <% } else if (item.label == 'Confident') { %>
            <$=__('document-tone-confident')$>
          <% } else if (item.label == 'Tentative') { %>
            <$=__('document-tone-tentative')$>
          <% } else { %>
            <%- item.label %>
          <% } %>
        </label>
      <% } %>
    <% }); %>
  </script>

  <script type="text/html" id="originalTextTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="base--p original-text--sentence-container" data-index="<%- key %>">
        <span class="original-text--sentence <%- item.className %>">
          <% item.text.split(/\r?\n/g).forEach(function(line, index, arr) { %>
            <%- line %>
            <% if (index +1 != arr.length) { %><br /><% } %>
          <% }) %></span>
      </div>
    <% }); %>
  </script>

  <script type="text/html" id="sentenceRankTemplate">
    <tbody class="base--tbody">
      <% _.each(items, function(item, key, list) { %>
        <tr class="base--tr sentence-rank--tr">
          <td class="base--td sentence-rank--score <%- item.className %>"><b><%- item.score %></b></td>
          <td class="base--td sentence-rank--sentence">
            <%- item.text %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </script>

  <script type="text/html" id="originalTextTooltipTemplate">
    <div class="original-text--tooltip <%- isSocialTone == 'Social Tone' ? 'original-text--tooltip_social' : '' %>">
      <ul class="original-text--tooltip-ul">
        <% _.each(items, function(item, key, list) { %>
          <li class="original-text--tooltip-li <%- item.className %>">
            <% if (item.score_percentage > 0) { %>
              <div class="original-text--tooltip-score"><b><%- item.score_percentage %></b></div>
            <%} %>
            <% if (item.error) {%>
              <div class="original-text--tooltip_error"><b>ERROR: </b>
                <%- item.error %>
              </div>
            <%} else {%>
              <div class="original-text--tooltip-label">
                <% if (item.tone_name == 'Anger') { %>
                  <$=__( 'document-tone-anger')$>
                <% } else if (item.tone_name == 'Fear') { %>
                  <$=__( 'document-tone-fear')$>
                <% } else if (item.tone_name == 'Joy') { %>
                  <$=__( 'document-tone-joy')$>
                <% } else if (item.tone_name == 'Sadness') { %>
                  <$=__( 'document-tone-sadness')$>
                <% } else if (item.tone_name == 'Analytical') { %>
                  <$=__( 'document-tone-analytical')$>
                <% } else if (item.tone_name == 'Confident') { %>
                  <$=__( 'document-tone-confident')$>
                <% } else if (item.tone_name == 'Tentative') { %>
                  <$=__( 'document-tone-tentative')$>
                <% } else if (item.tone_name == 'No Tone') { %>
                  <$=__( 'label-tooltip-no-tone')$>
                <% } else { %>
                  <%- item.tone_name %>
                <% } %>
              </div>
            <%} %>
          </li>
        <% }); %>
      </ul>
    </div>
  </script>

  <script type="text/html" id="originalTextLegendTemplate">
    <div class="original-text--legend-bar">
      <div class="original-text--legend-block original-text--legend-block_low original-text--legend-block_<%= className %>-low">&lt; .5</div>
      <div class="original-text--legend-block original-text--legend-block_med original-text--legend-block_<%= className %>-medium">.5 - .75</div>
      <div class="original-text--legend-block original-text--legend-block_high original-text--legend-block_<%= className %>-high">&gt; .75</div>
      <div class="original-text--legend-label original-text--legend-label_low">
        <$= __( 'legend-label-none')$>
      </div>
      <div class="original-text--legend-label original-text--legend-label_high">
        <$= __( 'legend-label-strong')$>
      </div>
    </div>
  </script>

  <script type="text/html" id="originalTextDescriptionTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (item.label == 'Anger') { %>
        <b><$=__('document-tone-anger')$>: </b>
        <$=__( 'anger-description')$>
      <% } else if (item.label == 'Fear') { %>
        <b><$=__('document-tone-fear')$>: </b>
        <$=__( 'fear-description')$>
      <% } else if (item.label == 'Joy') { %>
        <b><$=__('document-tone-joy')$>: </b>
        <$=__( 'joy-description')$>
      <% } else if (item.label == 'Sadness') { %>
        <b><$=__('document-tone-sadness')$>: </b>
        <$=__( 'sadness-description')$>
      <% } else if (item.label == 'Analytical') { %>
        <b><$=__('document-tone-analytical')$>: </b>
        <$=__( 'analytical-description')$>
      <% } else if (item.label == 'Confident') { %>
        <b><$=__('document-tone-confident')$>: </b>
        <$=__( 'confident-description')$>
      <% } else if (item.label == 'Tentative') { %>
        <b><$=__('document-tone-tentative')$>: </b>
        <$=__( 'tentative-description')$>
      <% } else if (item.label == 'No Tone') { %>
        <b><$=__('label-tooltip-no-tone')$></b>
      <% } else { %>
        <b><%- item.label %>: </b>
        <%- item.description %>
      <% } %>
    <% }); %>
  </script>

  <script type="text/html" id="documentWarningTemplate">
    <% _.each(items, function(item, key, list) { %>
      <$=__( 'document-warning')$>
    <% }); %>
  </script>

  <script type="text/html" id="errorMessageTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (item.errorCode == 401) { %>
        <$=__( 'error-401')$>
      <% } else if (item.errorCode == 429) { %>
        <$=__( 'error-429')$>
      <% } else if (item.errorCode == 500) { %>
        <$=__( 'error-500')$>
      <% } else { %>
        <%- item.errorMessage %>
      <% } %>
    <% }); %>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/vendors/prism.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>
  <script type="text/javascript" src="js/components/helpers.js"></script>
  <script type="text/javascript" src="js/components/App.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
  <$ if (bluemixAnalytics) { $>
    <script type="text/javascript" src="js/analytics.js"></script>
  <$ } $>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      $(".description--anger").text("Evoked due to injustice, conflict, humiliation, negligence or betrayal. If anger is active, the individual attacks the target, verbally or physically. If anger is passive, the person silently sulks and feels tension and hostility.");
      $(".input--submit-button, .output--reset-button").click(function() {
        $('input[name="document-level"]').prop('checked', false);
        $('input[name="sentence-level"]').prop('checked', false);
      });
      $("input[name='document-level']").click(function() {
        setTimeout(function() {
          $('.dcl').hide(0).delay(2000).show(0);
          $('.document-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });
      $("input[name='sentence-level']").click(function() {
        setTimeout(function() {
          $('.scl').hide(0).delay(2000).show(0);
          $('.sentence-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });
    });
  </script>
</body>

</html>
